.email-us
  color: $select-triangle-color
  background-color: $slider-background
  border-radius: 10px
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8)
  width: 100%
  padding: 10px
  font-size: 2em
  text-transform: uppercase


.contact-page
  background-position: bottom
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1430165558479-de3cf8cf1478?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a8d560cd877f002980248703b48efff0)
  background-size: cover
  width: 100vw
  height: auto
  padding: 2rem
  @include breakpoint(small medium)
    padding: 0
    margin: 0

.contact-form
  color: white
  textarea
    min-height: 15rem
    margin-bottom: 0

#submit
  width: 100%
  height: 50px
  background-color: #5b8587
  font-size: 1.5em
  border: none
  text-transform: uppercase
  border-radius: 0 0 5px 5px
  margin-bottom: 10px
  &:hover
    background-color: #ACC0C1
    color: black

  @include breakpoint(small medium)
    .contact-form
      padding: 0
      margin: 0
      h1
        margin-top: 1rem
      form
        margin-bottom: 1rem
        a.button
          border-radius: 0 0 15px 15px
        textarea
          margin-bottom: 0


.contact-side-panel
  padding: .5rem
  color: black
  background-color: white
  border-radius: 5px
  margin-bottom: 1rem
  hr
    color: black
  @include breakpoint(small medium)
    .contact-side-panel
      margin-top: 2rem
      margin-bottom: 2rem
      padding: 1rem
      h3
        font-weight: bold
        text-transform: uppercase
        margin: .2rem 0 .2rem 0
      p
        margin: .5rem
      a
        margin: .5rem
