.row
  max-width: 100%

.footer
  background-color: #292c2f
  text-align: center
  font-size: 1.2rem
  padding: 4rem 4rem 0 4rem
  z-index: 1000
.inline-list a
  display: inline-block
  width: 2rem
  height: 2rem
  background-color: #33383b
  border-radius: 2px
  font-size: 1.5rem
  color: #fff
  text-align: center
  line-height: 35px
  margin: 0 3px 0 0
@include breakpoint(small only)
  .footer
    text-align: left
    padding: 1rem 0 0 0
  .inline-list
    text-align: left
    a
      line-height:
      display: inline-block
      margin: 0

.contact
  list-style-type: none
  margin: 0
  text-align: left
  color: #fff
  li
    margin-bottom: 2rem
    p
      padding-left: 5rem
      line-height: normal
  i
    position: absolute
    background-color: #33383b
    color: #fff
    font-size: 2rem
    border-radius: 50%
    line-height: 1
    margin: 0 0 0 -4rem
    vertical-align: middle
    padding: .25em .45em
  a
    @extend .contact
    &:hover
      color: #497274
  @include breakpoint(small medium)
    .contact
      text-align: center
      padding-top: 1rem
      li
        margin-bottom: 1.5rem
        p
          padding-left: 4rem


.copywrite
  text-align: center
  color: #8f9296
  font-size: 0.875rem
  margin: 0 0 0 0
  padding: 0
.about
  color: #92999f
  font-size: 0.875rem
  margin: 0 0 1rem 0
  @include breakpoint(small medium)
      text-align: center
.footer-links a
  list-style: none
  font-weight: normal
  color: #fff
  padding: 3rem 0 2rem
  margin: 0
  font-size: 0.875rem
  &::after
    content: "•"
    padding: 0 0.2rem 0 0.4rem
  &:last-child::after
    content: ""
    padding: 0 0.4rem 0 0.8rem
@include breakpoint(small medium)
  .footer-links
    a
      text-align: center
  .social
    text-align: center

.footer-logo
  color: #fff
  font-size: 1.5rem
  i
    margin-right: 0.5rem
