.offcanvas-nav
  z-index: 30

.title-bar
  position: fixed
  width: 100%
  z-index: 100

.top-bar
  padding-bottom: 10px
  position: fixed
  width: 100%
  z-index: 101
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.09)

.smallBar
  padding: 0px
  transition: 1s


.smallLogo
  margin: 0
  padding: 0
  width: 100px
  height: 25px
  background-image: url(/assets/img/mikel-logo.png)
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  // svg
  //   padding: 5px
  //   margin-left: 50px
  //   width: 100px
  //   height: auto

.logo
  margin: 0
  padding: 0
  width: 200px
  height: 45px
  background-image: url(/assets/img/mikel-logo.png)
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  // svg
  //   padding: 0
  //   margin-left: 50px
  //   width: 200px
  //   height: 57px


a.active
  border-bottom: 4px solid $secondary-color

a.inactive
  border-bottom: none


// Hack for fixed titlebar, since navbar is fixed it has to be padded on large...sucks - have to fix at some point!
@media (min-width: 980px)
  .navbarfix
    padding-top: 100px
    //padding-bottom: 42px
