.pubs
  background-image: url(https://66b55246cc4e03226ac0-e99f561a31e90e59612613bae14a7fdb.ssl.cf1.rackcdn.com/static/img/desktop/bg-light.jpg)
  max-width: 100%!important
  h5
    text-transform: uppercase
  a
    color: $primary-color!important
    &:hover
      color: lighten($primary-color, 30%)!important

.callout
  margin: .5rem
  padding: .5rem

.book
  width: 100px
  min-height: 50px
  color: black
  text-align: center
  //display: block
  font-size: 75px
