.leadership-wrapper
  padding-top: 2em
  padding-bottom: 2em
  background-image: url(/assets/img/bg-light.jpg)

h4,
.h4
  font-size: 18px
  font-weight: bold

.leader
  padding: 5px

.team
  min-height: 100%
  border: 1px solid rgba(133, 133, 133, 0.15)
  background-color: #fff
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.09)
  h4
    margin-bottom: 2px
    margin-top: 25px
  img
    display: block
    margin-left: auto
    margin-right: auto
    position: relative
    margin-top: 10px
    border-radius: 50%
    width: 270px
    height: 270px
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9)

.team2
  // min-height: 100%
  border: 1px solid rgba(133, 133, 133, 0.15)
  background-color: #fff
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.09)
  h4
    margin-bottom: 2px
    margin-top: 25px
  img
    // display: block
    margin-left: auto
    margin-right: auto
    // position: relative
    // margin: 10px
    border-radius: 50%
    width: 270px
    height: 270px
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9)

// .teamsocial
//   min-height: 60px
//   border: 1px solid rgba(133, 133, 133, 0.15)
//   background-color: #f7f5f5
//   box-shadow: 0 0 8px rgba(0, 0, 0, 0.09)
//   position: relative
//   bottom: 1px
//   left: 0
//
// .list-centered
//   margin: 0 auto
//   width: fit-content
//   text-align: center
//   li
//     float: left
//     list-style: none
//
// .facebook-team
//   width: 50px
//   height: 50px
//   color: #D1CFCF
//   display: block
//   font-size: 40px
//
// .twitter-team
//   width: 50px
//   height: 50px
//   color: #D1CFCF
//   display: block
//   font-size: 40px
//
// .google-team
//   width: 50px
//   height: 50px
//   color: #D1CFCF
//   display: block
//   font-size: 40px
//
// .linkedin-team
//   width: 50px
//   height: 50px
//   color: #D1CFCF
//   display: block
//   font-size: 40px
//
// .facebook-team:hover
//   color: #3B5998
//
// .twitter-team:hover
//   color: #29B3E1
//
// .google-team:hover
//   color: #DE5845
//
// .linkedin-team:hover
//   color: #0077B5
