.featured
  width: 100%
  background-color: $secondary-color
.featured-image
  padding: 20px
  max-width: 400px
  min-height: 300px
  img
    border-radius: 5px
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2)
.featured-text
  padding: 20px
