// Hero image
.hero
  background-image: linear-gradient(rgba(172,192,193,0.5), rgba(44,57,58,0.6)), url(/assets/img/home-bg/mikel_9411.jpg)
  background-color: #282725
  width: 100%
  min-height: 100vh
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

  @include breakpoint(medium only)
    background-position: center 45%
    background-image: url(/assets/img/mikel-logo.svg)
    background-size: contain

  @include breakpoint(small only)
    background-image: url(/assets/img/mikel-logo.svg)
    background-position: center 35%
    background-size: contain

// Centers the text on the hero background
.hero-text
  color: white
  h1
   margin-top: 10%
   font-weight: bolder
   text-transform: uppercase
   font-size: 2.75em
  p
   margin-top: 25rem
   margin-bottom: 6%
   font-size: 1.5em

@include breakpoint(medium only)
  .hero-text
    h1
    margin-top: 1%
    font-size: 1em
    p
     margin-top: 18rem
@include breakpoint(small only)
  .hero-text
    h1
      margin-top: 3rem
      font-size: 1.5em
      width: 100%
    p
      margin-top: 45%
      font-size: 1.2em
