.intro
  background-image: url(/assets/img/bg-light.jpg)

// Moves the intro-tiles up onto the hero background
.move-up
  text-align: center
  position: relative
  top: -50px
  a:hover
    color: whitesmoke

@include breakpoint(small only)
  .move-up
    top: 10px
@include breakpoint(medium only)
  .move-up
    padding: 3px

// Styles for the tiles themselves
.intro-tile-base
  color: white
  width: 450px
  height: 450px
  background-color: #497274
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
  display: flex
  justify-content: center
  align-items: center
  h3
    text-transform: uppercase
  p
    font-size: 1.2em
@include breakpoint(small only)
  .intro-tile-base
    margin: 5px 0 5px 0

@include breakpoint(medium only)
  .intro-tile-base
    margin: 0
    h3
      font-size: 1.75em

.intro-tile1
  @extend .intro-tile-base
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/assets/img/services.jpg)
  opacity: 0
  //come in from left
  transform: translateX(-40px)
  transition: all 0.8s ease-in-out
  &.fly-in-tiles
    opacity: 1
    transform: translateX(0px)
  &:hover
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/assets/img/services.jpg)
    transform: scale(1.05)
    transition: 0.5s

.intro-tile2
  @extend .intro-tile-base
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(/assets/img/research.png)
  opacity: 0
  //come in from bottom
  transform: translateY(40px)
  transition: all 0.3s ease-in-out
  &.fly-in-tiles
    opacity: 1
    transform: translateY(0px)
  &:hover
     background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/assets/img/research.png)
     transform: scale(1.05)
     transition: 0.5s

.intro-tile3
  @extend .intro-tile-base
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/assets/img/hiring.jpg)
  background-position: right
  opacity: 0
  //come in from right
  transform: translateX(40px)
  transition: all 0.8s ease-in-out
  &.fly-in-tiles
    opacity: 1
    transform: translateX(0px)
  &:hover
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(/assets/img/hiring.jpg)
    transform: scale(1.05)
    transition: 0.5s

// Centers the content in the intro-tile
.intro-tile-text
  padding: 10px
  text-align: center
  width: 100%
  // a
  //   font-weight: bold
  //   margin-top: 20px
  //   background: none
  //   border: 3px solid white

.blurb
  padding-bottom: 30px
  opacity: 0
  //come in from right
  transform: translateX(20px)
  transition: all 0.3s ease-in-out
  &.is-showing
    opacity: 1
    transform: translateX(0px)

@include breakpoint(small only)
  .blurb
    padding-bottom: 5px
    margin-top: 10px
