
<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>COTS Virtual Integrator Positon</h3>
    <h4>LOCATION: FAIRLAKES, VA</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services. Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization.   </p>
    <h5>Key Responsibilities</h5>
    <p>The COTS Integrator will analyze, design, develop and test GDMS systems to ensure the integration of software, hardware, reliability, maintainability, safety and other requirements in the total engineering effort. Additional responsibilities include armoring systems for Navy certification and accreditation; working with external vendors and customers; configuring lab environments and specifications.  This individual is also responsible for requirements definitions, software/hardware critical item tests, etc, in addition to configuring and troubleshooting system hardware and software.  </p>
    <h5>Desired Skill Sets</h5>
    <ul>
      <li>Red Hat Linux Administration with a working knowledge of system</li>
      <li>Intermediate Windows Administration experience</li>
      <li>Understanding of private, public or hybrid cloud platform, integration or delivery as a service and distributed computing</li>
      <li>Experience with OpenStack, AWS, Docker and other container/PaaS technologies</li>
      <li>Experience or a thorough understanding of various virtualization technologies and tools such as KVM, Hyber –V, cloud management</li>
      <li>Experience with scripting languages such as bash, python</li>
      <li>Good organizational and communication skills</li>
      <li>Ability to troubleshoot and repair hardware problems</li>
    </ul>
    <h5>These skills are a PLUS</h5>
    <ul>
      <li>Ability to read C++/Java code</li>
      <li>Certification in Red Hat Enterprise Linux</li>
      <li>Experience with Information Assurance (C&A Process, IAVA Management, etc)</li>
    </ul>
    <p>The COTS Integrator position requires a bachelor’s degree in electrical engineering, computer science, systems engineering or the equivalent and at least two to five years of related work experience.</p>
    <P>Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.</P>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>