
<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>Electronics Technician</h3>
    <h4>LOCATION: NEWPORT, RI</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <h4 class="strong">Electronics Technician</h4>
    <hr/>
    <h5>Education and General Professional Experience:</h5>
    <ul>
      <li>High School/Vocational School diploma or GED Certificate.</li>
    </ul>
    <h5>Specialized Experience:</h5>
    <p>A total of 2 years of cumulative specialized experience in at least 2 of the following areas is required (qualifying experience consists of one (1) year or more in any single area):</p>
    <ul> 
      <li class="no-bullet">a. Design and document minor electronics and cable assemblies.</li>
      <li class="no-bullet">b. Utilize various electronic test equipment, such as meters, oscilloscopes and power supplies.</li>
      <li class="no-bullet">c. Perform minor soldering and electronic repair.</li>
      <li class="no-bullet">d. Troubleshoot electro-mechanical assemblies to the component level.</li>
    </ul>
    <p>The professional and specialized experience requirements above may have been acquired simultaneously. <br> The professional and specialized experience requirements above must have been acquired cumulatively.</p>
    <h5>Expected Capabilities:</h5>
    <p>Performs simple routine tasks under close supervision or from detailed procedures.  Work is checked in progress or on completion.  Performs one or a combination of such typical duties as:</p>
    <ul> 
      <li>Assembles or installs equipment or parts requiring simple wiring, soldering, or connecting.</li>
      <li>Performs simple or routine tasks or tests; operates and adjusts simple test equipment; records test data.</li>
      <li>Gathers and maintains specified records of engineering data such as tests, drawings, etc.</li>
    </ul>
    <p>Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.</p>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>