
<div class="row pubs navbarfix">
  <div class="small-12 medium-10 small-centered columns publications-list">{{#each publications.publications}}
    <div class="media-object callout secondary">
      <div class="media-object-section book show-for-medium"><i>
          <svg style="width:50px;height:50px" viewbox="0 0 295.989 295.989">
            <path fill="#00000" d="M224.312,0H71.677c-11.046,0-20,8.954-20,20v255.988c0,7.971,4.733,15.181,12.047,18.351c7.312,3.169,15.811,1.695,21.627-3.756l62.644-58.69l62.644,58.69c3.78,3.543,8.693,5.406,13.678,5.405c2.685,0,5.39-0.54,7.949-1.649c7.313-3.17,12.047-10.38,12.047-18.351V20C244.312,8.954,235.358,0,224.312,0z"></path>
          </svg></i></div>
      <div class="media-object-section">
        <h5> <a href="{{link}}" target="_blank">{{title}}</a></h5>
        <p>{{sub-title}}</p>
        <p>- {{author}}</p>
      </div>
    </div>{{/each}}
  </div>
</div>