
<div class="row navbarfix">
  <div class="small-12 columns">
    <section class="strips">
      <article class="strips__strip">
        <div class="strip__content">
          <h1 data-name="Lorem" class="strip__title">ACMS</h1>
          <div class="strip__inner-text">
            <h2>Automated Contact Management System(ACMS)</h2>
            <p>MIKEL’s Automated Contact Management System(ACMS) is a new approach to generating the tactical picture directly from the raw acoustic data that is provided by the submarine sensors.  This novel approach eliminates the need for traditional dot stacks and introduces a new paradigm elevating the user from an operator of data to a supervisor of contact information.  The automated process used to generate the tactical picture relies on a simple concept “If it looks like a contact, sounds like a contact, and behaves like a contact…….. it’s a contact.”</p>
            <p>
               
              As a result of this revolutionary technology MIKEL will be able to provide solutions that face our submarine crews today.
            </p>
            <p><a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a></p>
          </div>
        </div>
      </article>
      <article class="strips__strip">
        <div class="strip__content">
          <h1 data-name="Ipsum" class="strip__title">AIRS</h1>
          <div class="strip__inner-text">
            <h2>Ettrics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
            <p><a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a></p>
          </div>
        </div>
      </article>
      <article class="strips__strip">
        <div class="strip__content">
          <h1 data-name="Dolor" class="strip__title">Combat Systems</h1>
          <div class="strip__inner-text">
            <h2>Ettrics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
            <p><a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a></p>
          </div>
        </div>
      </article>
      <article class="strips__strip">
        <div class="strip__content">
          <h1 data-name="Sit" class="strip__title">ILS</h1>
          <div class="strip__inner-text">
            <h2>Ettrics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
            <p><a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a></p>
          </div>
        </div>
      </article>
      <article class="strips__strip">
        <div class="strip__content">
          <h1 data-name="Amet" class="strip__title">SANS</h1>
          <div class="strip__inner-text">
            <h2>Ettrics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
            <p><a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a></p>
          </div>
        </div>
      </article>
      <article class="strips__strip">
        <div class="strip__content">
          <h1 data-name="Amet" class="strip__title">SMART</h1>
          <div class="strip__inner-text">
            <h2>Ettrics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
            <p><a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a></p>
          </div>
        </div>
      </article>
      <article class="strips__strip">
        <div class="strip__content">
          <h1 data-name="Amet" class="strip__title">TREDS</h1>
          <div class="strip__inner-text">
            <h2>Ettrics</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
            <p><a href="https://twitter.com/ettrics" target="_blank"><i class="fa fa-twitter"></i></a></p>
          </div>
        </div>
      </article><i class="fa fa-close strip__close">     </i>
    </section>
  </div>
</div>