
<div class="row full">
  <div class="subnav-services">
    <h1>Services</h1>
    <div class="full-width">
      <!--The sections are hooked via the data id number!-->
    </div>
  </div>
</div>
<section class="services services-page">
  <div class="row">
    <div class="small-12 medium-11 medium-centered columns">
      <div id="item-list">
        <ul>
          <li><a class="expand">
              <div class="right-arrow">+</div>
              <div class="icon service1">
                <svg style="width:75px;height:75px" viewbox="0 0 448.992 448.992">
                  <path fill="#00000" d="M144.953,228.698c-1.573-1.573-3.939-2.044-5.994-1.192c-2.055,0.851-3.395,2.857-3.395,5.081v97.609c0,3.038,2.462,5.5,5.5,5.5h97.608c2.225,0,4.23-1.34,5.082-3.395c0.851-2.055,0.38-4.421-1.192-5.994L144.953,228.698zM146.564,324.696v-78.831l78.83,78.831H146.564z"></path>
                  <path fill="#00000" d="M422.521,33.882L393.924,5.285c-2.148-2.148-5.63-2.147-7.778,0L220.874,170.557c-0.529,0.529-0.944,1.16-1.221,1.854l-18.116,45.488L128.639,145l13.082-13.081c2.148-2.148,2.148-5.63,0-7.778c-2.148-2.148-5.63-2.148-7.778,0l-13.082,13.081l-21.944-21.944V5.5c0-3.038-2.462-5.5-5.5-5.5H30.361c-3.038,0-5.5,2.462-5.5,5.5v437.992c0,3.038,2.462,5.5,5.5,5.5h63.056c3.038,0,5.5-2.462,5.5-5.5v-60.149h252.509l15.36,15.36c1.074,1.074,2.481,1.611,3.889,1.611s2.815-0.537,3.889-1.611c2.148-2.148,2.148-5.63,0-7.778L209.907,226.268l45.488-18.116c0.694-0.277,1.325-0.692,1.854-1.22L422.521,41.66c1.031-1.031,1.611-2.43,1.611-3.889S423.552,34.913,422.521,33.882zM87.916,437.992H35.861v-9.787h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447v-17.316h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447v-17.315h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447v-17.316h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447v-17.315h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447v-17.316h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447v-17.315h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447v-17.316h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447v-17.315h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447v-17.316h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447V145.05h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447v-17.316h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447V88.418h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447V60.103h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447V31.787h9.447c3.038,0,5.5-2.462,5.5-5.5s-2.462-5.5-5.5-5.5h-9.447V11h52.056V437.992zM98.916,372.343v-241.51l26.766,26.766l-15.649,15.649c-2.148,2.148-2.148,5.63,0,7.778c1.074,1.074,2.481,1.611,3.889,1.611s2.815-0.537,3.889-1.611l15.649-15.649l12.244,12.244l-15.649,15.649c-2.148,2.148-2.148,5.63,0,7.778c1.074,1.074,2.481,1.611,3.889,1.611s2.815-0.537,3.889-1.611l15.649-15.649l12.244,12.244l-15.649,15.649c-2.148,2.148-2.148,5.63,0,7.778c1.074,1.074,2.481,1.611,3.889,1.611s2.815-0.537,3.889-1.611l15.649-15.649l12.244,12.244l-15.649,15.649c-2.148,2.148-2.148,5.63,0,7.778c1.074,1.074,2.481,1.611,3.889,1.611s2.815-0.537,3.889-1.611l15.649-15.649l12.244,12.244l-15.649,15.649c-2.148,2.148-2.148,5.63,0,7.778c1.074,1.074,2.481,1.611,3.889,1.611s2.815-0.537,3.889-1.611l15.649-15.649l12.244,12.244l-15.649,15.649c-2.148,2.148-2.148,5.63,0,7.778c1.074,1.074,2.481,1.611,3.889,1.611s2.815-0.537,3.889-1.611l15.649-15.649l12.244,12.244l-15.649,15.649c-2.148,2.148-2.148,5.63,0,7.778c1.074,1.074,2.481,1.611,3.889,1.611s2.815-0.537,3.889-1.611l15.649-15.649l12.244,12.244l-15.649,15.649c-2.148,2.148-2.148,5.63,0,7.778c1.074,1.074,2.481,1.611,3.889,1.611c1.407,0,2.815-0.537,3.889-1.611l15.649-15.649l12.244,12.244l-15.649,15.649c-2.148,2.148-2.148,5.63,0,7.778c1.074,1.074,2.481,1.611,3.889,1.611s2.815-0.537,3.889-1.611l15.649-15.649l12.244,12.244l-15.649,15.649c-2.148,2.148-2.148,5.63,0,7.778c1.074,1.074,2.481,1.611,3.889,1.611s2.815-0.537,3.889-1.611l15.649-15.649l26.766,26.766H98.916zM246.84,188.744L383.599,51.985l6.52,6.52L253.36,195.264L246.84,188.744zM239.062,180.966l-6.52-6.52L369.301,37.687l6.52,6.52L239.062,180.966zM226.782,184.243l16.781,16.781l-27.888,11.107L226.782,184.243z M397.898,50.727l-20.818-20.818l12.956-12.956l20.818,20.818L397.898,50.727z"></path>
                  <path fill="#00000" d="M387.999,404.36c-2.148-2.148-5.63-2.148-7.778,0s-2.148,5.63,0,7.778l16.97,16.97c1.074,1.074,2.481,1.611,3.889,1.611c1.407,0,2.815-0.537,3.889-1.611c2.148-2.148,2.148-5.63,0-7.778L387.999,404.36z"></path>
                  <path fill="#00000" d="M418.403,434.764c-2.148-2.147-5.63-2.146-7.778,0.003c-2.147,2.149-2.146,5.631,0.003,7.778l0.346,0.345c1.074,1.073,2.48,1.61,3.888,1.61c1.408,0,2.816-0.538,3.891-1.612c2.147-2.149,2.146-5.631-0.003-7.778L418.403,434.764z"></path>
                  <path fill="#00000" d="M242.483,28.878c1.408,0,2.816-0.537,3.89-1.612l0.877-0.877c2.147-2.148,2.147-5.631-0.001-7.778c-2.148-2.148-5.631-2.147-7.778,0.001l-0.877,0.878c-2.147,2.148-2.147,5.63,0.001,7.778C239.669,28.341,241.076,28.878,242.483,28.878z"></path>
                  <path fill="#00000" d="M212.077,59.283c1.407,0,2.815-0.537,3.889-1.611l16.971-16.97c2.148-2.148,2.148-5.63,0-7.778c-2.148-2.147-5.63-2.148-7.778,0l-16.971,16.97c-2.148,2.148-2.148,5.63,0,7.778C209.262,58.746,210.67,59.283,212.077,59.283z"></path>
                  <path fill="#00000" d="M181.672,89.689c1.407,0,2.815-0.537,3.889-1.611l16.971-16.97c2.148-2.148,2.148-5.63,0-7.778c-2.148-2.148-5.63-2.148-7.778,0L177.782,80.3c-2.148,2.148-2.148,5.63,0,7.778C178.857,89.152,180.264,89.689,181.672,89.689z"></path>
                  <path fill="#00000" d="M151.266,120.094c1.408,0,2.815-0.537,3.889-1.611l16.97-16.97c2.148-2.148,2.148-5.63,0-7.778c-2.148-2.148-5.631-2.147-7.778,0l-16.97,16.971c-2.148,2.148-2.148,5.63,0,7.778C148.451,119.558,149.859,120.094,151.266,120.094z"></path>
                </svg>
              </div>
              <h3>ENGINEERING SUPPORT</h3><span>
                 
                MIKEL provides support in the following areas:</span></a>
            <div class="detail">
              <div><span>
                  <ol>
                    <li>Multi-platform Systems Engineering</li>
                    <li>System Design
                      <ol>
                        <li>Requirements Analysis</li>
                        <li>Hardware Specifications</li>
                        <li>Software Specifications</li>
                        <li>Equipment Interfacing</li>
                        <li>User Interfaces</li>
                      </ol>
                    </li>
                    <li>Test and Evaluation
                      <ol>
                        <li>System Requirements Specifications</li>
                        <li>Operational/User Applications</li>
                        <li>Maintenance Functions</li>
                      </ol>
                    </li>
                    <li>Submarine Combat Systems Certification & Assessment</li>
                    <li>Tomahawk System Groom/Evaluation</li>
                    <li>Tomahawk System Installation</li>
                    <li>SWFTS System Evaluation</li>
                  </ol></span></div>
            </div>
          </li>
          <li><a class="expand">
              <div class="right-arrow">+</div>
              <div class="icon service2">
                <svg style="width:75px;height:75px" viewbox="0 0 612 612">
                  <path fill="#00000" d="M61.246,411.197c-31.376,0-56.811,25.434-56.811,56.809c0,31.377,25.436,56.811,56.811,56.811c31.375,0,56.81-25.434,56.81-56.811C118.056,436.631,92.621,411.197,61.246,411.197zM61.246,496.412c-15.688,0-28.405-12.717-28.405-28.404s12.718-28.406,28.405-28.406c15.687,0,28.405,12.719,28.405,28.406S76.934,496.412,61.246,496.412zM498.347,356.172l-77.277,47.848c-1.429-3.311-2.235-6.951-2.235-10.785v-75.26c0-3.486,0.715-6.791,1.907-9.855L498.347,356.172zM430.615,295.559c4.404-3.051,9.732-4.861,15.495-4.861h138.614c4.91,0,9.454,1.401,13.435,3.673l-84.731,52.463L430.615,295.559zM528.508,356.172l80.717-49.979c1.725,3.58,2.775,7.543,2.775,11.783v75.258c0,4.584-1.238,8.838-3.236,12.631L528.508,356.172zM404.942,434.277h144.623v28.924h-138.62c-1.62-24.09-15.225-44.896-34.927-56.537v-0.051c0.116,0.068,0.246,0.117,0.361,0.186l-0.361-0.713V116.107h28.924V434.277zM597.182,417.367c-3.75,1.941-7.943,3.143-12.458,3.143H446.109c-5.375,0-10.354-1.607-14.578-4.293l81.896-50.709L597.182,417.367zM498.347,210.854l-77.277,47.849c-1.429-3.311-2.235-6.952-2.235-10.786v-75.259c0-3.486,0.715-6.791,1.907-9.855L498.347,210.854zM430.615,150.242c4.404-3.051,9.732-4.86,15.495-4.86h138.614c4.91,0,9.454,1.4,13.435,3.672l-84.731,52.463L430.615,150.242zM528.508,210.854l80.717-49.978c1.725,3.58,2.775,7.542,2.775,11.782v75.259c0,4.584-1.238,8.838-3.236,12.629L528.508,210.854zM597.182,272.05c-3.75,1.941-7.943,3.143-12.458,3.143H446.109c-5.375,0-10.354-1.609-14.578-4.294l81.896-50.708L597.182,272.05zM226.38,110.95c-7.392-14.579-22.35-23.766-38.697-23.766H94.005c-15.975,0-28.925,12.95-28.925,28.925v151.854H36.155C16.188,267.961,0,284.148,0,304.116v127.485c12.438-20.898,35.216-34.855,61.248-34.855c37.674,0,68.624,29.359,71.154,66.455H268.78c2.531-37.096,33.408-66.455,71.154-66.455c13.16,0,25.529,3.631,36.084,9.867v-0.529L226.38,110.95zM281.146,326.1H117.578c-4.05,0-7.23-3.254-7.23-7.23V139.103c0-3.977,3.182-7.23,7.23-7.23h71.226c2.748,0,5.207,1.519,6.436,3.904l92.342,179.767C290.04,320.387,286.569,326.1,281.146,326.1zM339.915,411.197c-31.376,0-56.811,25.434-56.811,56.809c0,31.377,25.436,56.811,56.811,56.811s56.811-25.434,56.811-56.811C396.726,436.631,371.29,411.197,339.915,411.197zM339.915,496.412c-15.688,0-28.405-12.717-28.405-28.404s12.718-28.406,28.405-28.406c15.687,0,28.405,12.719,28.405,28.406S355.603,496.412,339.915,496.412z">       </path>
                </svg>
              </div>
              <h3>LOGISTIC SUPPORT</h3><span>MIKEL provides support in the following areas:</span></a>
            <div class="detail">
              <div><span>
                  <ol>
                    <li>Integrated Logistics
                      <ol>
                        <li>Technical Documentation Development </li>
                        <li>Interactive Electronic Technical Manuals</li>
                        <li>Configuration Management</li>
                      </ol>
                    </li>
                    <li>Acquisition & Life Cycle Management
                      <ol>
                        <li>Allowance Part List Management (APL)</li>
                        <li>Initial Ship Outfitting</li>
                        <li>Obsolescence Management</li>
                      </ol>
                    </li>
                    <li>Facilities Management
                      <ol>
                        <li>Oversee Hotel services for users</li>
                        <li>Maintenance of equipment</li>
                        <li>Monitoring of “Hotel” Services operating parameters</li>
                        <li>Responding to work request events</li>
                      </ol>
                    </li>
                    <li>Warehousing and Asset Management
                      <ol>
                        <li>Supply procurement</li>
                        <li>Inventory Control</li>
                        <li>Shipping/Receiving/Packaging</li>
                        <li>Quality Assurance</li>
                      </ol>
                    </li>
                  </ol></span></div>
            </div>
          </li>
          <li><a class="expand">
              <div class="right-arrow">+</div>
              <div class="icon service2">
                <svg style="width:75px;height:75px" viewbox="0 0 34.891 34.891">
                  <path fill="#00000" d="M32.43,33.652c0-1.398-1.609-3.285-3.783-3.836c0.907-0.611,1.533-1.816,1.533-2.902c0-1.532-1.242-2.774-2.771-2.774c-1.534,0-2.774,1.242-2.774,2.774c0,1.086,0.627,2.291,1.533,2.902c-2.173,0.551-3.783,2.438-3.783,3.836C22.384,35.304,32.43,35.304,32.43,33.652z"></path>
                  <path fill="#00000" d="M9.028,6.278c1.239,0,2.247-1.442,2.247-2.682c0-1.244-1.008-2.249-2.247-2.249c-1.242,0-2.25,1.005-2.25,2.249C6.778,4.836,7.786,6.278,9.028,6.278z"></path>
                  <path fill="#00000" d="M32.6,12.888V3.371c0-0.875-0.712-1.586-1.587-1.586h-6.146v-1.19C24.867,0.266,24.6,0,24.271,0s-0.596,0.267-0.596,0.595v1.19H17.53c-0.874,0-1.586,0.711-1.586,1.586v4.873l-3.079-1.027c-0.193-0.068-1.919-0.671-3.509-0.75L9.143,6.892H9.139l0.599,4.663l-0.711,1.244l-0.712-1.244l0.598-4.663H8.908L8.696,6.467C7.047,6.55,5.248,7.196,5.168,7.224C5.135,7.237,5.114,7.262,5.084,7.276C5.03,7.303,4.982,7.33,4.935,7.367C4.887,7.401,4.85,7.439,4.812,7.481C4.775,7.525,4.743,7.567,4.715,7.616C4.683,7.669,4.66,7.72,4.641,7.78C4.631,7.811,4.61,7.834,4.602,7.866L3.18,14.267c-0.106,0.479,0.195,0.955,0.675,1.062c0.065,0.012,0.128,0.018,0.194,0.018c0.408,0,0.775-0.28,0.865-0.694l1.314-5.907c0.092-0.029,0.195-0.06,0.31-0.092v6.071l-0.709,8.799c-0.027,0.34,0.12,0.645,0.354,0.858c-0.966,0.435-1.642,1.399-1.642,2.528c0,1.086,0.626,2.291,1.533,2.902c-2.173,0.551-3.783,2.438-3.783,3.836c0,1.652,10.046,1.652,10.046,0c0-1.398-1.61-3.285-3.783-3.836c0.908-0.611,1.534-1.816,1.534-2.902c0-1.375-1.001-2.508-2.314-2.729c0.095-0.145,0.168-0.304,0.183-0.488l0.639-7.953c0.133,0.057,0.278,0.091,0.433,0.091c0.152,0,0.297-0.034,0.429-0.091l0.64,7.953c0.047,0.56,0.513,0.981,1.064,0.981c0.027,0,0.057-0.001,0.085-0.003c0.587-0.047,1.026-0.561,0.979-1.148l-0.708-8.798V8.655c0.451,0.128,0.756,0.237,0.764,0.241c0.006,0.002,0.009,0.002,0.012,0.003c0.005,0.001,0.007,0.002,0.01,0.003l3.643,1.215v2.771c0,0.875,0.712,1.586,1.586,1.586h2.887l-2.533,9.454c-0.023,0.09-0.021,0.178-0.005,0.262c-0.168-0.031-0.341-0.052-0.519-0.052c-1.532,0-2.774,1.242-2.774,2.774c0,1.086,0.627,2.291,1.535,2.902c-2.174,0.551-3.784,2.438-3.784,3.836c0,1.652,10.046,1.652,10.046,0c0-1.398-1.61-3.285-3.782-3.836c0.907-0.611,1.533-1.816,1.533-2.902c0-0.998-0.529-1.864-1.32-2.354c0.104-0.076,0.186-0.188,0.221-0.322l2.615-9.763h2.027v6.919c0,0.327,0.268,0.594,0.596,0.594s0.596-0.267,0.596-0.594v-6.919h2.025l2.615,9.763c0.071,0.266,0.312,0.44,0.575,0.44c0.051,0,0.103-0.007,0.153-0.021c0.316-0.086,0.506-0.412,0.422-0.729l-2.533-9.454h2.887C31.888,14.474,32.6,13.763,32.6,12.888zM17.531,13.681c-0.438,0-0.794-0.356-0.794-0.793v-2.535c0.038,0.005,0.076,0.019,0.114,0.019c0.372,0,0.72-0.236,0.844-0.607c0.154-0.467-0.097-0.97-0.563-1.125l-0.396-0.132V3.371c0-0.438,0.355-0.793,0.794-0.793h13.482c0.438,0,0.794,0.355,0.794,0.793v9.517c0,0.437-0.354,0.793-0.794,0.793H17.531z"></path>
                </svg>
              </div>
              <h3>TRAINING SYSTEMS SUPPORT</h3><span>MIKEL provides support in the following areas:</span></a>
            <div class="detail">
              <div><span>
                  <ol>
                    <li>Needs Assessment</li>
                    <li>Curriculum Development
                      <ol>
                        <li>Learning objectives</li>
                        <li>Instructor Guides</li>
                        <li>Student Guides</li>
                        <li>Topic Presentations/Handouts</li>
                        <li>Practical Guides</li>
                        <li>Knowledge Assessments</li>
                      </ol>
                    </li>
                    <li>Instructor Lead Training
                      <ol>
                        <li>Classroom Training</li>
                        <li>Laboratory Practical Application</li>
                        <li>Teach the Trainers</li>
                        <li>Shipboard/Dock-side</li>
                      </ol>
                    </li>
                    <li>Asynchronous Training
                      <ol>
                        <li>Multi-media Development</li>
                        <li>Computer Based Training</li>
                      </ol>
                    </li>
                  </ol></span></div>
            </div>
          </li>
          <li><a class="expand">
              <div class="right-arrow">+</div>
              <div class="icon service2">
                <svg style="width:75px;height:75px" viewbox="0 0 502.686 502.686">
                  <polygon style="fill:#010002;" points="183.19,327.854 75.962,351.625 33.834,502.664 218.415,502.664 237.742,341.034 .171,305.787 		"></polygon>
                  <polygon style="fill:#010002;" points="426.681,351.625 319.366,327.854 297.342,305.809 264.878,341.056 284.184,502.686 &amp;8.852,502.686 		"></polygon>
                  <path style="fill:#010002;" d="M251.332,170.064c72.586,0,131.409-7.291,131.409-16.308c0-1.941-3.236-3.84-8.499-5.565C370.273,81.645,370.683,0,251.375,0S132.434,81.645,128.508,148.17c-5.285,1.747-8.564,3.645-8.564,5.587C119.944,162.773,178.811,170.064,251.332,170.064z"></path>
                  <path style="fill:#010002;" d="M360.955,179.943c-23.965,3.904-61.39,6.428-103.928,6.428c-50.109,0-93.229-3.494-115.296-8.607c7.787,69.156,53.668,122.544,109.795,122.544C306.985,300.265,352.305,248.021,360.955,179.943z"></path>
                </svg>
              </div>
              <h3>PROGRAM MANAGEMENT</h3><span>MIKEL provides support in the following areas:</span></a>
            <div class="detail">
              <div><span>
                  <ol>
                    <li>Program Reporting</li>
                    <li>Business and Financial Management</li>
                    <li>Project Control</li>
                    <li>Planning and Execution</li>
                    <li>Program Scheduling</li>
                    <li>Risk Management</li>
                  </ol></span></div>
            </div>
          </li>
          <li><a class="expand">
              <div class="right-arrow">+</div>
              <div class="icon service2">
                <svg style="width:75px;height:75px" viewbox="0 0 486.733 486.733">
                  <path fill="#00000" d="M403.88,196.563h-9.484v-44.388c0-82.099-65.151-150.681-146.582-152.145c-2.225-0.04-6.671-0.04-8.895,0C157.486,1.494,92.336,70.076,92.336,152.175v44.388h-9.485c-14.616,0-26.538,15.082-26.538,33.709v222.632c0,18.606,11.922,33.829,26.539,33.829h321.028c14.616,0,26.539-15.223,26.539-33.829V230.272C430.419,211.646,418.497,196.563,403.88,196.563z M273.442,341.362v67.271c0,7.703-6.449,14.222-14.158,14.222H227.45c-7.71,0-14.159-6.519-14.159-14.222v-67.271c-7.477-7.36-11.83-17.537-11.83-28.795c0-21.334,16.491-39.666,37.459-40.513c2.222-0.09,6.673-0.09,8.895,0c20.968,0.847,37.459,19.179,37.459,40.513C285.272,323.825,280.919,334.002,273.442,341.362zM331.886,196.563h-84.072h-8.895h-84.072v-44.388c0-48.905,39.744-89.342,88.519-89.342c48.775,0,88.521,40.437,88.521,89.342V196.563z"> </path>
                </svg>
              </div>
              <h3>CYBERSECURITY</h3><span>MIKEL provides support in the following areas:</span></a>
            <div class="detail">
              <div><span>
                  <ol>
                    <li>Certification</li>
                    <li>Accreditation
                      <ol>
                        <li>Evaluation</li>
                        <li>Remediation</li>
                        <li>Maintenance and reporting</li>
                        <li>Information Assurance</li>
                      </ol>
                    </li>
                  </ol></span></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>