section.technology-page
  .row.full
    .subnav
      h1 Technology
      .full-width
        //The sections are hooked via the data id number!
        ul.subnav-nav
          li
            a.show-section(data-id='1') ACMS
          li
            a.show-section(data-id='5') SANS
          li
            a.show-section(data-id='6') SMART

  section.tech.show-section
    .row
      .small-12.large-11.large-centered.columns.tech-tiles
        .small-12.columns.thumbnail.tech-tile
          h3 ACMS
          .small-12.medium-2.columns.helper
            img(src='{{root}}/assets/img/acms/acms-6.png' style='width: 250px; height: auto;' alt='ACMS Detail Thumbnail')
          .small-12.medium-10.columns
            p Advanced Contact Management System is a new approach to generating the tactical picture directly from the raw acoustic data that is provided by the submarine sensors.
          .row.button-center
            a.button(data-id='1') Learn More 
    
        .small-12.columns.thumbnail.tech-tile
          h3 SANS
          .small-12.medium-2.columns.helper
            img(src='{{root}}/assets/img/sans-graphic.jpg' style='width: 250px; height: auto;' alt='SANS Detail Thumbnail')
          .small-12.medium-10.columns
            p Submarine Acoustic Navigation System Beacon calculates a submerged  vehicle’s position in real time over a large area using a single bottom mounted beacon emitting a synchronized coded ping.
          .row.button-center
            a.button(data-id='5') Learn More     
    
        .small-12.columns.thumbnail.tech-tile
          h3 SMART
          .small-12.medium-2.columns.helper
            img(src='/assets/img/smart.jpg' style='width: 250px; height: auto;' alt='SMART Detail Thumbnail')
          .small-12.medium-10.columns
            p Standardized Metrics Assesment of Readiness and Training is a performance assessment tool that provides real time and post event analysis capabilities. It assists with the critical question of “what happened” – the first step of any assessment. SMART does this by automatically recording data and events that yield insight into operator actions and system function. 
          .row.button-center
            a.button(data-id='6') Learn More
