
<section data-id="1" class="techsection">
  <div class="row">
    <div class="small-12 large-11 large-centered columns">
      <h2 class="text-center">Advanced Contact Management System</h2>
      <div class="small-12 columns">
        <h3>If SONAR were the eyes...</h3>
        <p>In the world of passive sonar, actionable information is very limited. The only pieces of information available are the arrival angles and signal frequencies of acoustic energy from other underwater contacts.</p>
      </div>
      <div class="small-12 medium-6 columns text-center helper"><img src="{{root}}/assets/img/acms/acms-1.png" style="width:450px;height:400px;" alt="ACMS Detail Window" class="thumbnail"/></div>
      <div class="small-12 medium-6 columns text-center helper"><img src="{{root}}/assets/img/acms/acms-2.png" style="width:450px;height:400px;" alt="ACMS 3D Graph Detail Window" class="thumbnail"/></div>
      <div class="small-12 medium-12 columns">
        <p>With that information, commanding officers of billion-dollar naval assets infer vital actionable information. </br> <strong>But, how do they do that?</strong></p>
      </div>
      <div class="small-12 medium-12 columns">
        <h3>Then ACMS is the glasses…</h3>
        <p>By directly processing the output of sonar sensors and unique feature extraction...</p>
      </div>
      <div class="medium-up-2 large-up-4 text-center">
        <div class="column"><img src="{{root}}/assets/img/acms/acms1.png" style="width:200px;height:200px;" alt="Detailed Features Window One" class="thumbnail"/>
          <p>Feature 1</p>
        </div>
        <div class="column"><img src="{{root}}/assets/img/acms/acms2.png" style="width:200px;height:200px;" alt="Detailed Features Window Two" class="thumbnail"/>
          <p>Feature 2</p>
        </div>
        <div class="column"><img src="{{root}}/assets/img/acms/acms3.png" style="width:200px;height:200px;" alt="Detailed Features Window Three" class="thumbnail"/>
          <p>Feature 3</p>
        </div>
        <div class="column"><img src="{{root}}/assets/img/acms/acms4.png" style="width:200px;height:200px;" alt="Detailed Features Window Four" class="thumbnail"/>
          <p>Feature 4</p>
        </div>
      </div>
      <div class="small-12 medium-12 columns">
        <p>The ACMS produces the position and velocity information of sonar contacts... <strong>This is critical decision making information</strong></p>
      </div>
      <div class="small-12 medium-12 columns text-center helper"><img src="{{root}}/assets/img/acms/acms-6.png" style="width:350px;height:auto;" alt="Overall ACMS Plot Small Capture" class="thumbnail"/></div>
      <div class="small-12 columns">
        <h3>To see the big picture!</h3>
      </div>
      <div class="small-12 medium-7 columns">
        <p>With the information provided by ACMS, commanding officers can safely maneuver costly naval assets, precisely employ tactical weapons, and, most importantly, maintain our naval superiority.</p>
      </div>
      <div class="small-12 medium-4 columns text-center helper"><img src="{{root}}/assets/img/acms/acms-5.png" style="width:250px; height: auto;" alt="Overall ACMS Plot Small Capture" class="thumbnail"/></div>
    </div>
  </div>
</section>