section.contract-page
  .row.full
    .subnav-contracts
      h1 Contracts
      .full-width
        //The sections are hooked via the data id number!
        ul.subnav-nav
          li
            a.show-section(data-id='8') Quality Assurance
          li
            a.show-section(data-id='9') SeaPort-e

  section.tech.show-section
    .row
      .small-12.columns(data-equalizer='')
        a.small-12.large-6.columns.contracts(data-equalizer-watch='' data-id='8')
          .small-12.columns
            .small-12.small-centered.columns
              svg(style='width:100px;height:100px', viewbox='0 0 25.68 25.68')
                path(fill='#487173' d='M15.87 0c-5.42 0-9.81 4.39-9.81 9.81 0 1.99 0.6 3.85 1.62 5.39h-0.66v1.44c-0.63-0.21-1.36-0.07-1.86 0.44l-4.61 4.61c-0.71 0.71-0.71 1.87 0 2.58l0.86 0.86c0.71 0.71 1.87 0.71 2.58 0l4.62-4.61c0.2-0.2 0.34-0.44 0.43-0.69h0.27v-2.75c1.74 1.57 4.04 2.54 6.57 2.54 5.42 0 9.81-4.39 9.81-9.81S21.29 0 15.87 0zM15.87 17.81c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8S20.28 17.81 15.87 17.81zM22.81 10.49c-0.56-1.62-2.73-4.67-6.94-4.67 -4.22 0-6.39 3.06-6.94 4.67 -0.18 0.52 0.1 1.09 0.62 1.27 0.52 0.18 1.09-0.1 1.27-0.62 0-0.01 0.07-0.19 0.21-0.45 0.41 2.32 2.42 4.09 4.85 4.09 2.43 0 4.44-1.76 4.85-4.07 0.13 0.24 0.19 0.42 0.2 0.44 0.14 0.41 0.53 0.67 0.95 0.67 0.11 0 0.22-0.02 0.33-0.05C22.71 11.58 22.99 11.01 22.81 10.49zM15.87 13.94c-2.25 0-3.9-1.41-4.07-4.37 0.48-0.54 1.17-1.09 2.11-1.43 -0.39 0.45-0.63 1.03-0.63 1.68 0 1.43 1.16 2.58 2.58 2.58s2.58-1.16 2.58-2.58c0-0.64-0.24-1.23-0.63-1.68 0.97 0.35 1.67 0.92 2.16 1.48C19.79 12.72 18.11 13.94 15.87 13.94z')
            .small-12.small-centered.columns
              h3.text-center {{contracts.qa-title}}
              p.text-center {{contracts.qa-subtext}}
      
        a.small-12.large-6.columns.contracts(data-equalizer-watch='' data-id='9')
          .small-12.columns
            .small-12.small-centered.columns
              svg(style='width:100px;height:100px', viewbox='0 0 426.92 426.92')
                path(fill='#487173' d='M318.61 414.92h-31.88l-12.15-265.71h7.02c3.31 0 6-2.69 6-6v-39.91c0-3.31-2.69-6-6-6h-21.43V45.86h14.52c2.74 0 5.13-1.85 5.81-4.5 0.68-2.65-0.51-5.43-2.91-6.75L216.36 0.75c-1.81-1-4-1-5.81 0l-61.24 33.86c-2.39 1.32-3.59 4.1-2.91 6.75 0.68 2.65 3.07 4.5 5.81 4.5h14.52v51.44h-21.43c-3.31 0-6 2.69-6 6v39.91c0 3.31 2.69 6 6 6h7.02l-12.15 265.71h-31.87c-3.31 0-6 2.69-6 6 0 3.31 2.69 6 6 6h210.3c3.31 0 6-2.69 6-6C324.61 417.6 321.92 414.92 318.61 414.92zM155.89 334.02l1.95-42.56 111.28 26.72c0.39 0.1 0.79 0.14 1.19 0.15l1.99 43.55L155.89 334.02zM265.99 223.86l1.86 40.59L160.25 238.73l1.82-39.85L265.99 223.86zM263.51 169.56l-84.61-20.36h83.68L263.51 169.56zM219.46 97.29V65.03l28.72 12.21v20.05H219.46zM213.46 12.86l37.99 21h-75.97L213.46 12.86zM178.74 64.94l28.72 12.21v20.15h-28.72V64.94zM151.31 109.29h124.3v27.91H151.31V109.29zM153.48 386.86l117.22 28.05H152.2L153.48 386.86z')
            .small-12.columns
              h3.text-center {{contracts.sea-title}}
              p.text-center {{contracts.sea-subtext}}
