section.techsection(data-id='8')
  .row
    .small-12.large-11.large-centered.columns
      h2.text-center {{contracts.qa-title}}
      p 
        | {{contracts.qa-page-text-top}}
        ol
          {{#each contracts.qa-page-text-list}}
          li {{item}}
          {{/each}}
        | {{contracts.qa-page-text-bottom}}
