section.techsection(data-id='9')
  .row
    .small-12.columns
      h2.text-center {{contracts.sea-title}}
  .row.seaport-e
    .small-12.columns
      .small-12.large-11.large-centered.columns
        .small-12.medium-4.columns  
          h3 Task Orders        
          ul.tasks
            li
              a(href='{{root}}/assets/contracts/N40105redacted.pdf' target="_blank") Task Order N40105
            li
              a(href='{{root}}/assets/contracts/N40139redacted.pdf' target="_blank") Task Order N40139
            li
              a(href='{{root}}/assets/contracts/N40244redacted.pdf' target="_blank") Task Order N40244
            li
              a(href='{{root}}/assets/contracts/N40329REDACTED1.pdf' target="_blank") Task Order N40329  
        .small-12.medium-4.columns
          h3 Team Members  
          .small-12.columns
            a(href="{{root}}{{contracts.team-members}}" target="_blank") Team Members
        .small-12.medium-4.columns
          h3 Point Of Contact
          p For information on customer satisfaction with the services performed or information related to the SeaPort program, please contact:
          a(href='mailto:seaport@mikelinc.com?subject=Contracts POC Mikelinc.com') seaport@mikelinc.com
  .row
    .small-12.columns    
      h3.text-center Qualified Zones
      .qualfied-zones
        img(src="{{root}}/assets/img/Seaport_e_Zonemap.jpg", alt="Mikel Qualified Zones, Zones 1,2,3,4,5,6,7")
