
<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>Engineering Technician I - II </h3>
    <h4>LOCATION: NEWPORT, RI</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>Candidate is expected to perform simple routine tasks under close supervision or from detailed procedures. Performs one or a combination of such typical duties as: </p>
    <ul>
      <li>Assembles or installs equipment or parts requiring simple wiring, soldering, or connecting.</li>
      <li>Candidate performs simple or routine tasks or tests such as tensile or hardness tests; operates and adjusts simple test equipment; records test data.</li>
      <li>Gathers and maintains specified records of engineering data such as tests, drawings, etc.; performs computations by substituting numbers in specified formulas; plots data and draws simple curves and graphs. </li>
    </ul>
    <p>Candidate is expected to perform standardized or prescribed assignments, involving a sequence of related operations. Candidate performs at this level one or a combination of such typical duties as: </p>
    <ul>
      <li>Following specific instructions; assembles or constructs simple or standard equipment or parts; may service or repair simple instruments or equipment.</li>
      <li>Can conduct a variety of tests using established methods. Prepares test specimens, adjusts and operates equipment, and records test data, pointing out deviations resulting from equipment malfunction or observational errors.</li>
      <li>Extracts engineering data from various prescribed but non standardized sources; processes the data following well-defined methods including elementary algebra and geometry; presents  the data in prescribed form. </li>
    </ul>
    <h5>Basic Qualifications</h5>
    <ul>
      <li>High School/Vocational School Diploma or GED Certificate.</li>
      <li>1 to 3 years professional experience in engineering. </li>
    </ul>
    <h5>Qualifications</h5>
    <p>Communication skills. Ability to understand system level and interface operations. The ability to identify problems and relay as necessary for resolution. </p>
    <h5>Desired Skills</h5>
    <p>Knowledge in any of the following areas; fire control systems, interfaces, test and evaluation concepts. Ability to work closely in a team environment. </p>
    <h5>Preferred Skills</h5>
    <p>Experience as an operator of AN/BYG-1 COMBAT Systems or TOMAHAWK Systems. </p>
    <h5>Clearance</h5>
    <p>Secret Or; Applicants selected will be subject to a government security investigation and must meet eligibility requirements for access to classified information. </p>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>