
<div class="row navbarfix">
  <div class="small-12 columns">
    <h1 class="text-center">Job Opening</h1>
    <hr/>
    <h3>Computer Systems Analyst II/III/IV</h3>
    <h4>LOCATION: NEWPORT, RI</h4><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <p>Member will need to be qualified as an Information Assurance Technician (IAT) conducting maintenance and patching of stand-a-lone or network connected machines, must be A+ certified and certified in Windows and Linux operating systems. Duties will also include Media Transfer Agent/Data Transfer Agent (MTA/DTA) for laboratory users. The successful candidate will be well-versed in Information Systems Certification & Accreditation Package development.</p>
  </div>
  <div class="small-12 columns"><a href="mailto:HR@mikelinc.com?subject=Job Application Submission&amp;body=Please include resume, position, name and contact information." class="button">Apply Here</a>
    <hr/>
  </div>
  <div class="small-12 columns"><a href="careers.html#openings" class="button">< Return to Current Openings</a></div>
</div>