.row.navbarfix
  .small-12.columns
    h1 Mikel
    
    hr
    
    h3 Configuration Management Engineer
    
    h4 ENGINEERING MANAGMENT | FAIRLAKES, VA
    
    a.button(href="apply.html") Apply
    
    p The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services. Employees work closely with the government to develop solutions that allow them to carry out submarine missions. The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization. 
    
    p Configuration Engineers are responsible for developing and maintaining configuration management tools and supporting configuration identification, control, reporting, release and delivery of products and systems. This employee will perform configuration management and release engineering tasks to ensure new product operating parameters are documented, comply with standards and are logistically sustainable. The work also involves designing, developing, automating and maintaining productivity tools. Additionally, the Configuration Engineer will design and implement build procedures to aid in product creation and use. The development of internal configuration standards and training others to use configuration management tools may also be required.
    
    p You will:
    ul
      li Maintain and update processes and procedures to support the software build process 
      li Exercise creative thinking and ideation to advance our business performance
      li Deliver innovative, flexible, integrated solutions to meet customers changing business needs
      li Comply with all General Dynamics Mission System policies and procedures
    
    p Candidates must show a passion for innovation, a sophisticated understanding of configuration management, expertise in productivity tools and procedures, and the ability to effectively manage, grow and evolve General Dynamics Mission Systems product development and systems. The candidate must demonstrate proficiency in performing Software Configuration Management (SWCM) using the Serena Dimensions toolset.
    
    p The Configuration position requires a bachelor's degree in Computer Science, Math, Electrical Engineering (EE), Computer Information Systems (CIS), Computer Engineering (CPE), or Software Engineering, or equivalent experience, and two to five years of related experience; or a master's degree with zero to two years of related experience.
    
    i Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.

  .small-12.columns
    button.button.float-right Apply
    
    hr
    
  .small-12.columns
    a.button(href='apply.html') < Return to Current Openings
