.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 Computer Engineer
    
    h4 LOCATION: NEWPORT, RI
    
    //- a.button(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p The Candidate will work in a collaborative team environment with leading edge technology to develop time critical, object-oriented software. 
    p Candidates must have the ability to innovate, a sophisticated understanding of realtime, embedded software development and the ability to further advance US Navy technology
    
    h5 Basic Qualifications
    ul
      li The Computer Engineer position requires a bachelor's degree in a related specialized area, and at least five years of related work experience. Applicants with a master's degree and a minimum of three to five years of related experience are also eligible.
      li Experience with C++ and Linux required. 
      li Experience with AN/BYG-1 weapon control systems or system architecture development are also desired.
    
    P Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.

  .small-12.columns
    //- a.button.float-right(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings
