.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 COTS Virtual Integrator Positon
    
    h4 LOCATION: FAIRLAKES, VA
    
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p The position provides an opportunity to develop and advance the cutting-edge technology that supports our nation’s fundamental defense services. Employees work closely with the government to develop solutions that allow them to carry out submarine missions.  The selected candidate will work with collaborative teams to deliver end-to-end solutions in mission systems integration, development, and operations support to fleets and the organization.   
    h5 Key Responsibilities
    p The COTS Integrator will analyze, design, develop and test GDMS systems to ensure the integration of software, hardware, reliability, maintainability, safety and other requirements in the total engineering effort. Additional responsibilities include armoring systems for Navy certification and accreditation; working with external vendors and customers; configuring lab environments and specifications.  This individual is also responsible for requirements definitions, software/hardware critical item tests, etc, in addition to configuring and troubleshooting system hardware and software.  
    
    h5 Desired Skill Sets
    ul
      li Red Hat Linux Administration with a working knowledge of system
      li Intermediate Windows Administration experience
      li Understanding of private, public or hybrid cloud platform, integration or delivery as a service and distributed computing
      li Experience with OpenStack, AWS, Docker and other container/PaaS technologies
      li Experience or a thorough understanding of various virtualization technologies and tools such as KVM, Hyber –V, cloud management
      li Experience with scripting languages such as bash, python
      li Good organizational and communication skills
      li Ability to troubleshoot and repair hardware problems
      
    h5 These skills are a PLUS
    ul
      li Ability to read C++/Java code
      li Certification in Red Hat Enterprise Linux
      li Experience with Information Assurance (C&A Process, IAVA Management, etc)
    
    p The COTS Integrator position requires a bachelor’s degree in electrical engineering, computer science, systems engineering or the equivalent and at least two to five years of related work experience.
    
    P Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.

  .small-12.columns
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings
