.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 Mechanical Technician
    
    h4 LOCATION: NEWPORT, RI
    
    //- a.button(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    h4.strong Mechanical Technician
    hr    
    h5 Education and General Professional Experience:
    ul
      li High School/Vocational School diploma or GED Certificate.
    h5 Specialized Experience:
    p A total of 2 years of cumulative specialized experience in at least 2 of the following areas is required (qualifying experience consists of one (1) year or more in any single area):
    ul 
      li.no-bullet a. Performs basic troubleshooting on electrical, mechanical, hydraulic and pneumatic systems.
      li.no-bullet b. Installs and/or replaces new or reconditioned repair parts
      li.no-bullet c. Performs basic cutting and drilling procedures
    p The professional and specialized experience requirements above may have been acquired simultaneously. <br> The professional and specialized experience requirements above must have been acquired cumulatively.
    h5 Expected Capabilities:
    p Performs simple routine tasks under close supervision or from detailed procedures.  Work is checked in progress or on completion.  Performs one or a combination of such typical duties as:
    ul 
      li Assembles or installs equipment or parts per drawings
      li Diagnoses and repairs of electro-mechanical equipment, hydraulic systems, pneumatic systems
      li Gathers and maintains specified records of engineering data such as tests, drawings, etc.
    
    p Department of Defense Secret security clearance is required at time of hire. Applicants selected will be subject to a U.S. Government security investigation and must meet eligibility requirements for access to classified information. Due to the nature of work performed within our facilities, U.S. citizenship is required.
        
  

  .small-12.columns
    //- a.button.float-right(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings
