.row.navbarfix
  .small-12.columns
    h1.text-center Job Opening
    
    hr
    
    h3 Computer Systems Analyst II/III/IV
    
    h4 LOCATION: NEWPORT, RI
    
    //- a.button(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    p Member will need to be qualified as an Information Assurance Technician (IAT) conducting maintenance and patching of stand-a-lone or network connected machines, must be A+ certified and certified in Windows and Linux operating systems. Duties will also include Media Transfer Agent/Data Transfer Agent (MTA/DTA) for laboratory users. The successful candidate will be well-versed in Information Systems Certification & Accreditation Package development.

  .small-12.columns
    //- a.button.float-right(href="apply.html") Apply
    a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
    
    hr
    
  .small-12.columns
    a.button(href='careers.html#openings') < Return to Current Openings
