section.techsection(data-id='4')
  .row
    .small-12.columns
      h2.text-center NEED CONTENT
      //- .media-object
      //-   .media-object-section
      //-     h3 Every problem...
      //-     p
      //-       | A preponderance of tactical decisions such as maneuvering the ship or shooting a weapon are made based on an understanding of the tactical picture. The historical approach to generating the tactical picture is based on using sonar systems to first detect, track and localize contacts. Next, manual target motion analysis (TMA) techniques are used to determine the range, bearing, course and speed of each contact based on the sonar data.
      //- 
      //- .media-object
      //-   .media-object-section
      //-     img(src='http://www.mikelinc.com/wp-content/uploads/2009/10/tac-display2-300x186.jpg' style='height:200px;width:200px;' alt="Example Photo")
      //-   .media-object-section
      //-     h3 Has a solution...
      //-     p
      //-       | The Advanced Contact Management System (ACMS) is a revolutionary approach to developing the tactical picture; the key information used for command decision making, post mission reporting, safe maneuvering of the platform and effective employment of weapon payloads. ACMS eliminates the detection, tracking and man machine interactive localization and TMA processes/system (and resulting subsystems) and replaces it with a much less complex process that develops the tactical picture through the automatic processing of raw sonar beam data, eliminating the need for sonar trackers feeding localization and TMA processes.          
      //- 
      //- .media-object
      //-   .media-object-section
      //-     h3 And a payoff!
      //-     p
      //-       | ACMS will improve the level of command decision making, reduce the software and hardware complexity of the combat system in terms of number of subsystems, displays and computer processes, networks and data sharing processes as well as people operating those displays/processes. The result is a system allowing for a more simplified hardware and software architecture, a simplified and more user friendly Command and Control Center (CACC) layout with reduced manning and reduced training requirements all resulting in reduced total ownership costs (RTOC). The application of this technological approach will also reduce the time and costs associated with upgrades to the combat system elements and the Command and Control Center. Tomorrow’s notional CACC is shown at left using this technology as the basis for developing the fused tactical picture.
