
<div class="row navbarfix">
  <div class="small-12 medium-10 small-centered columns">
    <h1 class="text-center">MIKEL Application Form</h1>
    <hr/>
    <h4>Thank you for considering a new career with MIKEL, please fill out the following application form.</h4>
    <div id="contact_form" class="form-style">
      <div class="form-style-heading">Please Contact Us</div>
      <div id="contact_results"></div>
      <div id="contact_body">
        <label><span>Name <span class="required">*</span></span>
          <input id="name" type="text" name="name" required="true" class="input-field"/>
        </label>
        <label><span>Email <span class="required">*</span></span>
          <input type="email" name="email" required="true" class="input-field"/>
        </label>
        <label><span>Phone <span class="required">*</span></span>
          <input type="text" name="phone1" maxlength="4" placeholder="+91" required="true" class="tel-number-field"/>—
          <input type="text" name="phone2" maxlength="15" required="true" class="tel-number-field long"/>
        </label>
        <label><span>Attachment</span>
          <input type="file" name="file_attach" class="input-field"/>
        </label>
        <label for="subject"><span>Regarding</span>
          <select name="subject" class="select-field">
            <option value="General Question">General Question</option>
            <option value="Advertise">Advertisement</option>
            <option value="Partnership">Partnership Oppertunity</option>
          </select>
        </label>
        <label for="field5"><span>Message <span class="required">*</span></span>
          <textarea id="message" name="message" required="true" class="textarea-field"></textarea>
        </label>
        <label><span> </span>
          <input id="submit_btn" type="submit" value="Submit"/>
        </label>
      </div>
    </div>
    
  </div>
  <div class="small-12 columns">
    <hr/><a href="#" class="button">< Return to Current Openings</a>
  </div>
</div>