
<section class="culture">
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <h3 class="text-center">{{jobs.culture-title}}</h3>
      <p class="text-center">{{jobs.culture-subtext}}</p>
    </div>
  </div>
</section>