
<section id="openings" class="openings">
  <div class="small-12 large-10 large-centered columns">
    <ul id="openings-tabs" data-tabs="" class="tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Current Openings</a></li>
      <li class="tabs-title"><a href="#panel2">Future Openings</a></li>
    </ul>
    <div data-tabs-content="openings-tabs" class="tabs-content">
      <div id="panel1" class="tabs-panel is-active">
        <table>
          <thead>
            <tr>
              <th class="openings">Current Openings</th>
              <th class="location">Location</th>
            </tr>
          </thead>
          <tbody>{{#each openings.postings}}
            <tr>       
              <td> <a href="{{link}}">{{position}}</a></td>
              <td>{{location}}</td>
            </tr>{{/each}}
          </tbody>
        </table>
      </div>
      <div id="panel2" class="tabs-panel">
        <table>
          <thead>
            <tr>
              <th class="openings">Future Openings</th>
              <th class="location">Location</th>
            </tr>
          </thead>
          <tbody>{{#each openings.futurepostings}}
            <tr>       
              <td> <a href="{{link}}">{{position}}</a></td>
              <td>{{location}}</td>
            </tr>{{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>