.technology-page
  background-color: $secondary-color

.quotes
  background-color: lighten($secondary-color, 15%)
  padding: 1rem

// Centers image using flexbox
.helper
  display: flex
  justify-content: center
  align-items: center

.full
  max-width: 100%!important

.subnav
  text-align: center
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/assets/img/technology-bg.jpg) no-repeat center center
  background-size: cover
  background-position: center
  padding-top: 15rem
  h1
    margin: 0
    color: #ffffff
    text-transform: uppercase
    font-weight: bolder
    font-size: 3rem
  @include breakpoint(small only)
    padding: 0
    h1
      font-size: 2rem
      margin-top: 0


.full-width
  max-width: 100%!important
  position: relative
  // top: 5rem
  background: rgba(250, 250, 250, 0.7)
  color: #333
  @include breakpoint(small only)
    top: 0

.subnav-nav
  //float: none
  //position: relative
  text-align: center
  margin-bottom: 0
  li
    //float: none
    display: inline-block
    a
      padding: 0.9rem 1rem 0.75rem
      font-size: 1.5rem
      color: #333
      text-transform: uppercase
      display: block
      font-weight: bold
      letter-spacing: 1px
      &.is-active
        background: rgba(250, 250, 250, 0.7)
        color: #333
      &:hover
        background: rgba(250, 250, 250, 0.7)
        color: #333
        transition: all .25s ease-in-out

.tech-tile
  background-image: url(/assets/img/bg-light.jpg)
  img
    margin: 1rem
  h3
    margin-left: 21px

@include breakpoint(medium only)
  .tech-tile
    h3
      text-align: center
@include breakpoint(small only)
  .tech-tile
    h3
      text-align: center


.tech-tiles
  margin-top: 1rem
  img
    // vertical-align: middle
    // margin-top: 50%
    // margin-bottom: 50%

.button-center
  text-align: center
  a
    margin-top: .5rem
    width: 150px


.techsection
  background-image: url(/assets/img/bg-light.jpg)
  display: none

.show-section
  display: block

//read more expand/contract
.morecontent span
    display: none
    color: $blockquote-color
    span
      color: $blockquote-color
.morelink
    display: block
    color: $blockquote-color
    span
      color: $blockquote-color
