.row.navbarfix
  .small-12.medium-10.small-centered.columns
    h1.text-center MIKEL Application Form
    hr
    h4 Thank you for considering a new career with MIKEL, please fill out the following application form.
    #contact_form.form-style
      .form-style-heading Please Contact Us
      #contact_results
      #contact_body
        label
          span
            | Name 
            span.required *
          input#name.input-field(type='text', name='name', required='true')
        label
          span
            | Email 
            span.required *
          input.input-field(type='email', name='email', required='true')
        label
          span
            | Phone 
            span.required *
          input.tel-number-field(type='text', name='phone1', maxlength='4', placeholder='+91', required='true')
          | —
          input.tel-number-field.long(type='text', name='phone2', maxlength='15', required='true')
        label
          span Attachment
          input.input-field(type='file', name='file_attach')
        label(for='subject')
          span Regarding
          select.select-field(name='subject')
            option(value='General Question') General Question
            option(value='Advertise') Advertisement
            option(value='Partnership') Partnership Oppertunity
        label(for='field5')
          span
            | Message 
            span.required *
          textarea#message.textarea-field(name='message', required='true')
        label
          span  
          input#submit_btn(type='submit', value='Submit')

    //- #resume_form
    //-   #resume_results
    //-   #resume_body
    //-     label
    //-       span
    //-         | Name 
    //-         span *
    //-       input#name(type='text', name='name', required='true')
    //-     label
    //-       span
    //-         | Email 
    //-         span *
    //-       input(type='email', name='email', required='true')
    //-     label
    //-       span
    //-         | Phone 
    //-         span *
    //-       input(type='text', name='phone2', maxlength='15', required='true')
    //-       label(for='subject')
    //-         span Position are you applying for:
    //-          select#subject(name='positions' required)
    //-            option(value='other')  Other not listed or for future consideration
    //-            {{#each openings.postings}}
    //-            option(value='{{position}}')  {{position}}
    //-            {{/each}}
    //-            {{#each openings.futurepostings}}
    //-            option(value='{{position}}')  {{position}} (Future)
    //-            {{/each}}
    //-     label
    //-       span Resume
    //-       input(type='file', name='file_attach')
    //-     label(for='field5')
    //-       span
    //-         | Cover Letter
    //-       textarea#message(name='message')
    //-     label
    //-       span  
    //-         input#submit_btn.button.float-right(type='submit', value='Submit')

    
    //- form#resume
    //-   p Position are you applying for:
    //-     select#position(name='positions' required)
    //-       option(value='other')  Other not listed or for future consideration
    //-       {{#each openings.postings}}
    //-       option(value='{{position}}')  {{position}}
    //-       {{/each}}
    //-       {{#each openings.futurepostings}}
    //-       option(value='{{position}}')  {{position}} (Future)
    //-       {{/each}}
    //-   p Resume: 
    //-     input#resume(name="file_attach" type="file")
    //-   p Cover Letter
    //-     input#coverltr(name="file_attach" type="file")
    //-     textarea#coverltrText(name="coverltr" placeholder='If you wish place cover letter here...')
    //-   hr  
    //-   i *Required  
    //-     h5 Personal Information
    //-     input#firstName(type='text' name='firstname' placeholder='First Name' required)
    //-     input#lastName(type='text' name='lastname' placeholder='Last Name' required)
    //-     input#emailAddress(type='email' name='email' placeholder='email' required)
    //-     input#telephone(type='tel' name='tel' placeholder='Telephone' required)
    //-     h5 Education
    //-     select#degree(name='degree')
    //-       option(value='GED') GED(Graduated)
    //-       option(value='High School') High School(Graduated)
    //-       option(value='in-prog-associates') Associates(in process)
    //-       option(value='associates') Associates(Graduated)
    //-       option(value='in-prog-bachelors') Bachelor's(in process)
    //-       option(value='bachelors') Bachelor's(Graduated)
    //-       option(value='in-prog-masters') Masters(in process)
    //-       option(value='masters') Masters(Graduated)
    //-       option(value='in-prog-PhD') PhD(in process)
    //-       option(value='phd') PhD(Graduated)
    //-     input#college(type='text' name='college' placeholder='College or University Most Recently Attended')
    //-     input#study(type='text' name='degree' placeholder='Degree or Area of Study')
    //-     input#other(type='text' name='other' placeholder='If Other School, Enter here')     
    //-   .small-12.columns
    //-     input#submitResume.float-right.hide-for-small-only(type='button' value='Submit Application', style="border:1px solid red;")
    //-     h4#returnmessage
      
  .small-12.columns
    hr
    a.button(href='#') < Return to Current Openings
      

      
    
