section.benefits
  .row
    .small-12.columns
      h2.text-center.benefits-title All employees benefit from:
      .small-12.small-centered.small-up-1.medium-up-2.large-up-3.columns
        .column.icon-center
          .icon
            svg(style='width:100px;height:100px', viewbox='0 0 24 24')
              path(fill="#000000" d="M18,14H14V18H10V14H6V10H10V6H14V10H18M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z")
          h4.text-center Healthcare
          p {{jobs.healthcare}}
        .column.icon-center
          .icon
            svg(style='width:100px;height:100px', viewbox='0 0 24 24')
              path(fill="#000000" d="M12,3L1,9L12,15L21,10.09V17H23V9M5,13.18V17.18L12,21L19,17.18V13.18L12,17L5,13.18Z")
          h4.text-center Education
          p {{jobs.education}}
        .column.icon-center
          .icon
            svg(style='width:100px;height:100px', viewbox='0 0 543.545 543.545')
              path(fill="#000000" d="M539.002,169.951c-4.686-3.128-11.016-1.856-14.144,2.829c-5.332,7.997-12.662,11.451-18.959,12.859c-0.055-11.879-5.807-24.276-16.34-34.809c-10.058-10.058-24.664-12.077-34.728-4.828c-7.528,5.433-13.458,17.483-5.406,33.599c5.012,10.03,14.273,18.061,25.548,22.767c-2.136,1.51-4.604,2.965-7.385,4.352c-6.113,3.06-12.37,4.889-18.429,5.95c-29.233-59.677-105.332-102.231-194.616-102.231c-17.836,0-34.258,1.163-49.599,3.148c-25.548-16.544-72.958-36.911-120.401-33.749c2.189,19.72,14.287,45.05,29.879,63.328c-30.212,18.666-49.688,44.146-59.494,73.645c-11.499,5.045-23.916,8.248-37.794,9.187C6.99,226.69-0.674,235.394,0.047,245.54c1.87,26.152,9.622,70.699,40.297,82.497c5.746,2.21,14.913,3.516,25.827,4.209c13.001,21.243,32.083,39.937,55.638,54.754c-3.944,19.699-8.82,39.569-14.824,59.643c-2.598,8.67,3.971,17.395,13.036,17.395h57.134c5.65,0,10.805-3.461,12.77-8.759c4.495-12.145,8.296-24.575,11.526-37.236c16.945,3.379,34.734,5.195,53.094,5.195c21.346,0,41.93-2.441,61.31-6.95c-2.523,10.078-5.223,20.183-8.263,30.349c-2.604,8.677,3.965,17.401,13.029,17.401h57.134c5.65,0,10.805-3.461,12.771-8.759c10.179-27.492,16.918-56.386,21.046-86.333c31.361-27.403,50.374-63.069,50.374-102.108c0-11.981-1.85-23.637-5.229-34.843c6.569-1.462,13.314-3.686,19.992-7.031c11.05-5.521,18.007-11.886,22.345-18.047c17.605-0.361,33.348-8.67,42.779-22.814C544.959,179.409,543.688,173.079,539.002,169.951z M132.144,219.237c-9.391,0-17-7.609-17-17c0-9.391,7.609-17,17-17c9.391,0,17,7.609,17,17C149.144,211.628,141.528,219.237,132.144,219.237z M310.318,238.576c-7.106,2.387-14.824-1.455-17.211-8.582c-1.748-5.223-8.323-11.322-21.108-11.322c-9.928,0-15.79,6.44-16.442,12.798c-0.823,7.922,6.372,14.266,19.238,16.952c30.77,6.447,42.622,27.94,40.712,46.383c-1.734,16.748-13.784,30.205-29.9,35.135v8.297c0,7.507-6.093,13.6-13.6,13.6c-7.508,0-13.601-6.093-13.601-13.6v-7.889c-18.659-4.311-29.532-16.973-33.299-28.233c-2.38-7.126,1.462-14.838,8.588-17.211c7.12-2.387,14.831,1.455,17.21,8.582c1.884,5.637,9.139,11.322,21.101,11.322c9.921,0,15.783-6.44,16.442-12.798c0.823-7.922-6.372-14.267-19.238-16.952c-30.777-6.447-42.622-27.941-40.711-46.383c1.734-16.749,13.784-30.206,29.899-35.136v-8.303c0-7.507,6.093-13.6,13.6-13.6s13.6,6.093,13.6,13.6v7.888c18.652,4.311,29.526,16.973,33.293,28.233C321.279,228.485,317.438,236.189,310.318,238.576z M467.663,170.474c-2.074-4.141-2.033-7.126-0.918-7.929c0.442-0.32,1.115-0.51,1.938-0.51c1.706,0,4.08,0.85,6.439,3.217c6.181,6.188,9.853,13.137,10.315,19.271C477.448,181.864,470.818,176.778,467.663,170.474z")
          h4.text-center Retirement
          p {{jobs.retirement}}
        .column.icon-center
          .icon
          svg(style=width='100px', height='100px', viewbox='0 0 370.19 370.19')
            path(fill="#000000" d="M360.726,63.061c-10.261-7.277-24.294-5.117-32.746,6.797c-7.392,10.418-4.82,26.938-0.194,33.713c0,0,0.265,0.34-0.225,0.543c-0.821,0.34-5.695,3-5.695,3c-1.286,0.4-1.438,1.365-0.341,2.145l1.753,1.244c0,0,0.607,0.455,0.241,0.971c-3.557,5.015-33.042,47.366-46.065,66.077c-2.671,3.489-2.157,0.394-1.806-1.543c2.746-15.103,6.124-33.683,6.914-38.03c0.114-0.623,0.974-0.488,0.974-0.488l2.004,0.365c1.325,0.24,1.908-0.543,1.296-1.742c0,0-1.44-5.307-1.798-6.098c-0.237-0.523,0.124-0.553,0.124-0.553c8.254-1.334,21.751-11.148,24.044-23.764c2.614-14.371-5.652-25.918-18.028-28.168s-24.177,5.648-26.79,20.02c-2.285,12.568,7.038,26.445,14.098,30.625c0,0,0.384,0.197,0.025,0.588c-0.6,0.654-3.889,5.129-3.889,5.129c-0.996,0.906-0.726,1.846,0.599,2.086l2.115,0.385c0,0,0.743,0.156,0.629,0.779c-1.039,5.716-6.441,36.053-9.217,50.701c-0.132,0.697-2.424,1.906-3.874,3.805c-1.304,1.707-13.083,20.799-29.994,23.639c-4.841,0-36.345,0-41.525,0c-12.31-2.069-22.932-11.926-25.906-19.329c-1.314-3.273-2.759-7.185-4.471-10.864l-31.125-69.93c-2.152-4.625-4.055-10.82-12.896-10.82c-3.264,0-6.502,0-10.242,0H62.673c-3.811,0-5.791,0-10.486,0c-8.817,0-13.418,5.744-15.94,10.92L4.75,184.502c-3.721,7.635-8.194,16.861-0.641,20.607c7.558,3.744,14.535,0.592,18.258-7.047l15.937-27.691c0,0,0.913-1.625,0.571,0.174c-2.127,11.199-18.829,66.553-18.829,66.553c-1.429,7.01,3.255,12.748,10.411,12.748c0,0,12.764,0,17.017,0c1.218,0,1.001,0.916,1.001,0.916l3.249,89.436c0,11.342,3.815,17.289,12.533,17.289c8.714,0,12.533-5.947,12.533-17.289l3.249-89.705c0,0-0.036-0.672,0.675-0.646c0.917,0.029,3.238,0.004,4.277,0.004c0.594,0,0.52,0.715,0.52,0.715l3.249,89.633c0,11.342,3.819,17.289,12.537,17.289c8.714,0,12.533-5.947,12.533-17.289l3.249-89.254c0,0-0.104-1.098,1.204-1.098c4.577,0,18.306,0,18.306,0c7.155,0,11.953-5.76,10.662-12.797c0,0-16.717-57.797-18.285-67.643c-0.449-2.822,17.236,28.859,17.236,28.859c2.815,6.051,8.903,5.321,11.582,9.357c5.804,8.74,12.652,17.732,19.655,21.904c11.31,6.857,11.488,3.787,12.565,13.717l-0.184,6.66l-3.743,27.945c-0.225,1.678,0.564,3.135,1.894,3.838c0.296,0.156,0.942,0.336,0.935,1.314l-1.753,63.357c-0.159,0.596,0,4.783,0.339,4.943c1.098,3.512,4.288,6.184,8.296,6.184c3.831,0,7.179-2.395,8.458-5.742c-0.18-0.121,8.649-61.398,9.872-61.398c1.604,0,9.872,61.398,9.872,61.398c1.437,3.348,4.627,5.742,8.458,5.742c4.028,0,7.178-2.672,8.456-6.184c0-0.16,0.319-4.348,0-4.943l-1.646-63.49c-0.081-0.912,0.668-1.119,0.97-1.303c1.211-0.736,1.916-2.125,1.703-3.717l-3.476-25.943l-0.225-8.662c1.078-9.93,1.396-6.859,12.566-13.717c11.509-6.865,23.296-29.894,23.842-33.027c0.614-3.525-1.25-4.938-0.098-6.583c8.378-11.958,48.787-70.094,52.792-75.737c0.366-0.518,1.089-0.031,1.089-0.031l1.661,1.18c1.098,0.779,1.958,0.316,1.911-1.031c0,0,0.942-5.416,0.953-6.285c0.007-0.574,0.346-0.447,0.346-0.447c8.042,2.285,24.425-0.891,31.843-11.35C373.585,84.299,370.986,70.338,360.726,63.061z")
            circle(cx='82.775', cy='52.467', r='39.764')
            path(fill="#000000" d="M214.116,207.621c12.145,0,21.999-9.895,21.999-22.016c0-12.246-9.854-22.021-21.999-22.021c-12.306,0-22.179,9.775-22.179,22.021C191.938,197.727,201.81,207.621,214.116,207.621z")
          h4.text-center Paid Time Off
          p {{jobs.timeoff}}
        .column.icon-center.icon-apply
          .icon
            svg(style=width='100px', height='100px', viewbox='0 0 24 24')
              path(fill="#000000" d="M10,16L5,11L6.41,9.58L10,13.17L17.59,5.58L19,7M19,1H5C3.89,1 3,1.89 3,3V15.93C3,16.62 3.35,17.23 3.88,17.59L12,23L20.11,17.59C20.64,17.23 21,16.62 21,15.93V3C21,1.89 20.1,1 19,1Z")
          p.text-center Ready to Apply?
          //- a.button(href="apply.html") Apply Here
          a.button(href="mailto:HR@mikelinc.com?subject=Job Application Submission&body=Please include resume, position, name and contact information.") Apply Here
          
        .column.icon-center
          .icon
            svg(style=width='100px', height='100px', viewbox='0 0 370.19 370.19')
              path(fill="#000000" d="M172.708,156.999L172.708,156.999c-8.681,0-15.701,7.029-15.701,15.709c0,8.664,7.037,15.701,15.701,15.701l0,0c8.664,0,15.701-7.037,15.701-15.701C188.41,164.028,181.388,156.999,172.708,156.999zM125.605,141.306c8.668,0,15.701-7.033,15.701-15.701c0-8.674-7.033-15.699-15.701-15.699c-8.666,0-15.699,7.025-15.699,15.699C109.906,134.273,116.939,141.306,125.605,141.306zM172.708,109.906L172.708,109.906c-8.681,0-15.701,7.025-15.701,15.699c0,8.668,7.021,15.701,15.701,15.701l0,0c8.664,0,15.701-7.033,15.701-15.701C188.41,116.931,181.388,109.906,172.708,109.906zM188.41,31.4h-78.504v31.402h78.504V31.4zM219.812,141.306c8.66,0,15.701-7.033,15.701-15.701c0-8.674-7.025-15.699-15.701-15.699c-8.681,0-15.701,7.025-15.701,15.699C204.111,134.273,211.148,141.306,219.812,141.306zM219.812,188.409c8.66,0,15.701-7.037,15.701-15.701c0-8.68-7.025-15.701-15.701-15.701c-8.681,0-15.701,7.021-15.701,15.701C204.111,181.372,211.148,188.409,219.812,188.409zM125.605,188.409c8.668,0,15.701-7.037,15.701-15.701c0-8.68-7.025-15.709-15.701-15.709c-8.674,0-15.699,7.029-15.699,15.709C109.906,181.372,116.939,188.409,125.605,188.409zM78.504,235.513c8.666,0,15.701-7.041,15.701-15.701c0-8.68-7.035-15.701-15.701-15.701c-8.674,0-15.701,7.021-15.701,15.701C62.803,228.472,69.837,235.513,78.504,235.513zM266.911,31.4h-15.696v31.402h15.696v204.108H31.402V62.803h15.699V31.4H31.402C14.06,31.4,0,45.455,0,62.803v204.101c0,17.352,14.06,31.41,31.402,31.41h235.508c17.345,0,31.402-14.059,31.402-31.41V62.803C298.313,45.455,284.255,31.4,266.911,31.4zM78.504,188.409c8.666,0,15.701-7.037,15.701-15.701c0-8.68-7.035-15.709-15.701-15.709c-8.674,0-15.701,7.029-15.701,15.709C62.803,181.372,69.837,188.409,78.504,188.409zM78.504,141.306c8.666,0,15.701-7.033,15.701-15.701c0-8.674-7.035-15.699-15.701-15.699c-8.674,0-15.701,7.025-15.701,15.699C62.803,134.273,69.837,141.306,78.504,141.306zM125.605,235.513c8.668,0,15.701-7.041,15.701-15.701c0-8.68-7.033-15.701-15.701-15.701c-8.666,0-15.699,7.021-15.699,15.701C109.906,228.472,116.939,235.513,125.605,235.513zM78.504,62.803c8.666,0,15.701-7.033,15.701-15.701v-31.4C94.205,7.025,87.178,0,78.504,0c-8.667,0-15.701,7.025-15.701,15.701v31.4C62.803,55.77,69.837,62.803,78.504,62.803zM219.812,62.803c8.66,0,15.701-7.033,15.701-15.701v-31.4C235.513,7.025,228.472,0,219.812,0c-8.681,0-15.701,7.025-15.701,15.701v31.4C204.111,55.77,211.148,62.803,219.812,62.803z")
          h4.text-center Company Events
          p {{jobs.events}}
          

              
          
