section.culture
  .row
    .small-12.medium-6.medium-centered.columns
      h3.text-center {{jobs.culture-title}}
      p.text-center {{jobs.culture-subtext}}
      
      
  //- #owl-demo.owl-carousel.owl-theme
  //-   .item.helper
  //-     img(src='http://placehold.it/1200x500', alt='')
  //-   .item.helper
  //-     img(src='http://placehold.it/1200x500', alt='')
  //-   .item.helper
  //-     img(src='http://placehold.it/1200x500', alt='')
  //-   .item.helper
  //-     img(src='http://placehold.it/1200x500', alt='')
