section#openings.openings
  .small-12.large-10.large-centered.columns
    ul#openings-tabs.tabs(data-tabs='')
      li.tabs-title.is-active
        a(href='#panel1', aria-selected='true') Current Openings
      li.tabs-title
        a(href='#panel2') Future Openings
    .tabs-content(data-tabs-content='openings-tabs')
      #panel1.tabs-panel.is-active
        table
          thead
            tr
              th.openings Current Openings
              th.location Location
          tbody
            {{#each openings.postings}}
            tr        
              td 
                a(href="{{link}}") {{position}}
              td {{location}}
            {{/each}}
      #panel2.tabs-panel
        table
          thead
            tr
              th.openings Future Openings
              th.location Location
          tbody
            {{#each openings.futurepostings}}
            tr        
              td 
                a(href="{{link}}") {{position}}
              td {{location}}
            {{/each}}
        
  //- #openings.row
  //-   table
  //-     thead
  //-       tr
  //-         th.openings Current Openings
  //-         th.location Location
  //-     tbody
  //-       {{#each openings.postings}}
  //-       tr        
  //-         td 
  //-           a(href="{{link}}") {{position}}
  //-         td {{location}}
  //-       {{/each}}
  //-     thead
  //-       tr
  //-         th.openings Potential Future Openings
  //-         th.location Location
  //-     tbody
  //-       {{#each openings.futurepostings}}
  //-       tr        
  //-         td 
  //-           a(href="{{link}}") {{position}}
  //-         td {{location}}
  //-       {{/each}}
        
