section.overview
  .row.navbarfix
    .medium-6.columns.helper
      .overview-side-bg
    .small-12.medium-6.columns
      .small-12.columns
        h3.text-center {{jobs.overview-title}}
        p.text-center {{jobs.overview-text}} 
      .small-12.columns
        h3.text-center {{jobs.overview-secondary-title}} 
        p.text-center {{jobs.overview-secondary-text}}
        p.text-center
          a.button(href='{{root}}careers.html#openings') See our current job opportunities
