
<section data-id="8" class="techsection">
  <div class="row">
    <div class="small-12 large-11 large-centered columns">
      <h2 class="text-center">{{contracts.qa-title}}</h2>
      <p>
         
        {{contracts.qa-page-text-top}}
        <ol>{{#each contracts.qa-page-text-list}}
          <li>{{item}}</li>{{/each}}
        </ol>{{contracts.qa-page-text-bottom}}
      </p>
    </div>
  </div>
</section>