section.contract-page
  background-image: url(/assets/img/bg-light.jpg)

.subnav-contracts
  @extend .subnav
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/assets/img/contracts-bg.jpg) no-repeat center center
  background-size: cover
  background-position: center

.contracts
  padding: 2em
  &:hover
    transform: scale(1.05)
  svg
   display: block
   margin: auto
   padding: 5px
   border: 2px solid #487173
   border-radius: 50%
   filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.3))
  h3, p
    color: black
