section.featured
  .row
    .orbit(role='region', aria-label='Featured Projects', data-orbit='' data-options="animation:slide; pause_on_hover:true; navigation_arrows:true; swipe:false bullets:false;")
      ul.orbit-container
        button.orbit-previous(aria-label='previous')
          span.show-for-sr Previous Slide
          | ◀
        button.orbit-next(aria-label='next')
          span.show-for-sr Next Slide
          | ▶
        {{#each home.featured}}
        li.orbit-slide
          div.clearfix
            .small-12.large-10.large-centered.columns
              .featured-image.float-left 
                img(src='{{root}}{{img-url}}' style='height:340px;width:auto;' alt='Scrolling Featured Images')
              .featured-text
                h3 {{slide-title}}
                p {{slide-subtext}}
                a.button(href='{{root}}/{{read-more-link}}') Read More
        {{/each}}
