section.hero
  .row
    .small-12.large-11.large-centered.columns.hero-text
      h1.text-center {{home.title-text}}
  .row
    .small-12.large-11.large-centered.columns.hero-text
      p.text-center {{home.subtitle-text}}
