section.intro
  .parallax-scroll.row
    .small-12.medium-up-3.columns
      .column.move-up.text-center
        a(href='services.html').thumbnail.intro-tile1
          .intro-tile-text
            h3.text-center {{home.tile1-title}}
            p.text-center {{home.tile1-subtext}}
            //- a.button(href='services.html') Learn More
      .column.move-up
        a(href='technology.html').thumbnail.intro-tile2
          .intro-tile-text
            h3.text-center {{home.tile2-title}}
            p.text-center {{home.tile2-subtext}}
            //- a.button(href='technology.html') Learn More      
      .column.move-up
        a(href='careers.html').thumbnail.intro-tile3
          .intro-tile-text
            h3.text-center {{home.tile3-title}}
            p.text-center {{home.tile3-subtext}}
            //- a.button(href='careers.html') Learn More
  .row.blurb
    .small-12.large-8.large-centered.columns.text-center
      h2 {{home.blurb-title}}
      p {{{home.blurb-subtext}}}
