.row.leadership-wrapper
  .small-12.columns(data-equalizer='')
    .teamwrapper
      {{#each home.leaders}}
      .small-12.large-12.columns.leader
        .small-12.columns.team2
          //- .small-12.medium-12.large-3.columns.helper
          //- img(src="{{img-url}}", alt="")
          .small-12.medium-12.large-12.columns  
            h4 {{name}}
            p{{title}}
            hr
            p {{{bio}}}
        //- .small-12.columns.teamsocial(style="border:1px solid red;")
        //-   ul.list-centered
        //-     li
        //-       a(href='{{facebook-url}}', title='Facebook')
        //-         .facebook-team
        //-           i.fi-social-facebook
        //-     li
        //-       a(href='{{twitter-url}}', title='Twitter')
        //-         .twitter-team
        //-           i.fi-social-twitter
        //-     li
        //-       a(href='{{google-url}}', title='Google')
        //-         .google-team
        //-           i.fi-social-google-plus
        //-     li
        //-       a(href='{{linkedin-url}}', title='LinkedIn')
        //-         .linkedin-team
        //-           i.fi-social-linkedin
      {{/each}}
