
<div class="row leadership-wrapper">
  <div data-equalizer="" class="small-12 columns">
    <div class="teamwrapper">{{#each home.leaders}}
      <div class="small-12 large-12 columns leader">
        <div class="small-12 columns team2">
          <div class="small-12 medium-12 large-12 columns"> 
            <h4>{{name}}</h4>
            <p>{{title}}</p>
            <hr/>
            <p>{{{bio}}}</p>
          </div>
        </div>
      </div>{{/each}}
    </div>
  </div>
</div>