section.benefits
  background-image: url(/assets/img/bg-light.jpg)
  padding: 3rem

.benefits-title
  padding: 2%

.icon-center
  text-align: center
  padding: 2%
  svg
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.3))

.icon-apply
  border: 4px solid blue
  border-radius: 10px
  a
    margin: auto
    padding: 1rem
