section.openings
  height: 100%
  padding: 3rem
  background-color: $secondary-color
  .tabs-panel
    padding: 0

  table
    width: 100%
    margin: 0
    padding: 0
    // margin: auto
    text-transform: uppercase
    // box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
    th.openings
      width: 80%
    th.location
      width: 40%
    a
      color: black
      text-transform: capitalize
    td
      text-transform: capitalize


@include breakpoint(small only)
  section.openings
    height: 100%
    padding: 0rem
    margin: 0
