section.overview
  background-image: url(/assets/img/bg-light.jpg)
  padding: 3rem
.overview-side-bg
  margin: 0
  padding: 0
  width: 100%
  height: 300px
  background-image: url(/assets/img/careers-bg.jpg)
  background-position: center center
  background-size: contain
  background-repeat: no-repeat
