.contact-page
  .row.navbarfix
    .small-12.medium-12.medium-centered.large-10.columns.contact-form
      h1.text-center Contact
      hr
      .small-12.medium-12.large-8.columns.contact-form
        </br>
        h3.text-center We're sorry but at this time our contact form is under construction. Please send us an email by clicking below.
        a.button.email-us(href="mailto:info@mikelinc.com?subject=Contact Form Submission&body=Please include name and contact information along with message.") Email Us Here
        
      .small-12.medium-12.large-4.columns
        .contact-side-panel
          .row
            .small-12.columns
              h3.text-center.office Offices
              hr
              .small-12.medium-6.large-12.columns
                .small-12.medium-2.columns.hide-for-small-only
                  svg(style='width:24px;height:24px', viewbox='0 0 24 24')
                    path(fill='#5b8587', d='M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z')
                .small-12.medium-10.columns
                  h4 Phone
                  a(href='tel:1-800-446-4535') 401.846.5820
                  br
              .small-12.medium-6.large-12.columns
                .small-12.medium-2.columns.hide-for-small-only
                  svg(style='width:24px;height:24px', viewbox='0 0 24 24')
                    path(fill='#5b8587', d='M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,12.5A1.5,1.5 0 0,1 10.5,11A1.5,1.5 0 0,1 12,9.5A1.5,1.5 0 0,1 13.5,11A1.5,1.5 0 0,1 12,12.5M12,7.2C9.9,7.2 8.2,8.9 8.2,11C8.2,14 12,17.5 12,17.5C12,17.5 15.8,14 15.8,11C15.8,8.9 14.1,7.2 12,7.2Z')
                .small-12.medium-10.columns
                  h4 Main Office
                  p 2 Corporate Place, Ste 103<br>Middletown, RI 02842-6294
                  p.smallest *Correspondence & Mailing to this Address 
              .small-12.medium-6.large-12.columns
                .small-12.medium-2.columns.hide-for-small-only
                  svg(style='width:24px;height:24px', viewbox='0 0 24 24')
                    path(fill='#5b8587', d='M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,12.5A1.5,1.5 0 0,1 10.5,11A1.5,1.5 0 0,1 12,9.5A1.5,1.5 0 0,1 13.5,11A1.5,1.5 0 0,1 12,12.5M12,7.2C9.9,7.2 8.2,8.9 8.2,11C8.2,14 12,17.5 12,17.5C12,17.5 15.8,14 15.8,11C15.8,8.9 14.1,7.2 12,7.2Z')
                .small-12.medium-10.columns
                  h4 Corporate Office
                  p 275 Martine Street, Ste 205<br>Fall River, MA 02723-1500



      //- .small-12.medium-12.large-8.columns.contact-form
      //-   h3 Fill out the form below and we’ll get back to you as soon as possible.
      //-   form#form(name="contactform" method="post" action="contact_form.php")
      //-     input#name(name="name" type='text', placeholder='*Full Name' required)
      //-     input#email(email="email" type='text', placeholder='*Email' required)
      //-     input#contact(name="telephone" type='text', placeholder='Telephone Number.')
      //-     textarea#message(name="comments" placeholder='*Message.......' required)
      //-     input#submit(type='button', value='Send Message')
      //-     h4#returnmessage
