{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{settings.title}}</title>
    <meta name="description" content="{{settings.seo.description}}">
    <meta name="author" content="{{settings.seo.author}}">
    <meta itemprop="image" content="{{settings.seo.image}}">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>



    <div class="off-canvas-wrapper">
      <div data-off-canvas-wrapper="" class="off-canvas-wrapper-inner" >
        <div id="offCanvasRight" data-off-canvas="" data-position="right" class="off-canvas position-right">
          <div data-off-canvas-content class="off-canvas-content">
            <ul data-off-canvas class="menu vertical">
            {{#each settings.menu}}
              <li><a href="{{url}}">{{name}}</a></li>
            {{/each}}
            </ul>
          </div>
        </div>

      <div class="title-bar hide-for-large">
        <div class="title-bar-right">
          <span class="title-bar-title">{{settings.title}}</span>
          <button type="button" data-toggle="offCanvasRight" class="menu-icon"></button>
        </div>
      </div>
      <div class="top-bar hide-for-small show-for-large">
        <div class="top-bar-left">
          <ul class="menu">
            <li class="menu-text logo">
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown menu">
          {{#each settings.menu}}
            <li><a href="{{url}}">{{name}}</a></li>
          {{/each}}
          </ul>
        </div>
      </div>

      {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
      {{> body}}
      </div>
    </div>
    <script src="{{root}}assets/js/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-73104102-1', 'auto');
      ga('send', 'pageview');
      </script>
  </body>
</html>
