section.services-page
  background-color: $secondary-color
  margin: 0

.subnav-services
  @extend .subnav
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(/assets/img/services-bg.jpg) no-repeat center center
  background-size: cover
  background-position: center

.services
  //for show-hide-list
  #item-list ul
    padding: 0
    margin: 10px 0
    font-family: Arial, sans serif
    color: #555
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
    > li
      background-image: url(/assets/img/bg-light.jpg)
      background-color: rgba(245,245,245,1)
      list-style: none
      border-top: 1px solid #ddd
      display: block
      padding: 15px
      overflow: hidden
    &:last-child
      border-bottom: 1px solid #ddd
    > li:hover
      background: whitesmoke
    ol
      list-style: disc
      padding-left: 2rem

  .expand
    display: block
    text-decoration: none
    color: #555
    cursor: pointer

    h3
      padding: 0
      margin: 0 0 5px 0

  .detail
    margin: 20px 0 0 0
    display: none
    line-height: 22px

  .right-arrow
    width: 10px
    height: 10px
    float: left
    font-weight: bold
    font-size: 30px
    margin: 15px 15px 0 0

  .icon
    height: 75px
    width: 75px
    float: left
    margin: 0 15px 0 0

  .service1
    
  .service2

  .service3
    background: url("http://placehold.it/75x75") top left no-repeat
